body {
    font-family: Georgia;
    background-color: rgb(0, 102, 128);
}

.box {
    width: 650px;
    height: 600px;
    padding: 40px;
    border-radius: 18px;
    position: absolute;
    background: black;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

h1 {
    color: white;
    text-transform: uppercase;
    font-weight: inherit;
}

.box input[type="email"],
.box input[type="text"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(0, 102, 128);
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.50s;
}

.box input[type="email"]:focus,
.box input[type="text"]:focus {
    width: 280px;
    border-color: darkgray;
}

.box input[type="submit"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid teal;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background: darkgreen;
}

textarea {
    resize: horizontal;
    max-width: 550px;
}

.info {
    margin-top: 10%;
}

.navbar:not(.top-nav-collapse) {
    /* background: transparent !important; */
    position: fixed;
    background-color: black;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #424f95 !important;
    }
}