html,
body,
header,
.view {
    height: 100%;
    font-family: "Times New Roman", Times, serif;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .view {
        height: 1000px;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
        height: 600px;
    }
}

*/ .btn .fa {
    margin-left: 3px;
}

.top-nav-collapse {
    background-color: #000000 !important;
}

.navbar:not(.top-nav-collapse) {
    /* background: transparent !important; */
    position: fixed;
    background-color: black;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #000000 !important;
    }
}

.btn-white {
    color: white !important;
}

.btn-outline-white {
    color: white;
}

h1 {
    color: white;
}

h6 {
    line-height: 1.7;
    color: white;
}

.bottom {
    font-size: large;
    width: fit-content;
    padding: 30px;
}

.bottom h2 {
    padding-bottom: 30px;
    text-align: center;
}

.bottom p {
    width: auto;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}

.email {
    text-align: center;
}

.links {
    font-size: 50px;
    text-align: center;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-github {
    background: #000000;
    color: black;
}

.btn-outline-white:hover {
    background-color: inherit;
    color: white;
}


/* .bottom-fa {
    padding: 20px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
} */


/* .fa-facebook {
    background: #3B5998;
    color: white;
} */


/* .rgba-gradient {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
} */
