body {
    background-color: rgb(0, 102, 128);
}

#ourTeam {
    color: black;
    text-align: center;
    font-family: Georgia;
    font-weight: 400 !important;
}

.container-sm {
    width: 100%;
    height: auto;
    padding: 40px;
    position: absolute;
    background: inherit;
    top: 115%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

img {
    width: 300px;
    height: 320px;
    border: 1px solid inherit;
}

.figure {
    border: 1px black;
    padding: 20px;
    position: relative;
    background: inherit;
}

.figure:hover {
    transition: 0.15s;
    border: 1px solid black;
    border-radius: 20px;
    background-color: inherit;
    /* cursor: pointer; */
}

.figure-caption {
    background-color: inherit;
    color: black !important;
    font-family: Georgia;
    font-size: 20px !important;
    text-align: center;
    display: block;
}

.post {
    color: rgb(242, 161, 115) !important;
    background-color: inherit;
    font-family: Georgia;
    font-size: 17px !important;
    text-align: center;
    display: block;
}

.navbar {
    font-family: Georgia;
}

.top-nav-collapse {
    background-color: #ffffff
}

.navbar:not(.top-nav-collapse) {
    /* background: transparent !important; */
    position: fixed;
    width: 100%;
    background-color: black;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #ffffff !important;
    }
}
